@import url("http://fonts.googleapis.com/css?family=Open+Sans:300");
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

tr[data-href] { cursor: pointer; }

i.fa-spinner
{
    animation: spin 0.75s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate( 360deg );
  }
}

.box-header > small.label {
    position: relative; top: 10px;
    animation: fadeItFirst 0.5s ease-out;
    animation-delay: 3s;
    animation-direction: normal;
    animation-fill-mode: forwards;
    transform: rotate(0deg);
    display: inline-block;
    opacity: 1;
}
@keyframes fadeItFirst {
  to {
    opacity: 0;
  }
}

table[id^=ov] tr {
    transform: rotate(0deg);
}
